<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NAMA</title>
  <link rel="stylesheet" href="assets/css/style1.css">
  <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container" id="mainbody">
    <div class="text-center mt-2" id="vue" v-cloak>

      <h1>
        NAMA : Nommer les Arbres au Moyen Âge
        <span class="btns float-end">
          <a class="btn btn-sm" data-bs-toggle="offcanvas" href="#offcanvasFilters" role="button" aria-controls="offcanvasFilters">
          Filtres
          </a>
          <button class="btn btn-sm" @click="resetSort">Réinitialiser</button>
        </span>
      </h1>

      <div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
          <div class="offcanvas-header">
            <h1 class="offcanvas-title" id="offcanvasFiltersLabel">Filtres</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">

              <!-- filtres sur les références -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-formFilters" aria-expanded="false" aria-controls="flush-formFilters">
                    Filtres sur les références
                  </button>
                </h2>
                <div id="flush-formFilters" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <div class="row text-start">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">par langue</h5>
                            <p class="card-text">
                              <div class="form-check" v-for="langue in listelangues">
                                <input class="form-check-input" type="checkbox" v-bind:id="'ref-'+langue" v-bind:value="langue" v-model="checkedlangues" checked>
                                <label class="form-check-label" :for="'ref-'+langue">{{langue}}</label>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- filtres sur les formes -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Filtres sur les formes
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree">
                  <div class="accordion-body">
                    <button @click="sortForms" class="btn btn-success btn-sm mb-2">Appliquer les filtres</button>
                    <div class="row text-start">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Langue</h5>
                            <p class="card-text">
                              <div class="form-check" v-for="langue in listelangues">
                                <input class="form-check-input" type="checkbox" v-bind:id="langue" v-bind:value="langue" v-model="checkedlanguesform" checked>
                                <label class="form-check-label" :for="langue">{{langue}}</label>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Type</h5>
                            <p class="card-text">
                              <div class="form-check" v-for="type in listeformes">
                                <input class="form-check-input" type="checkbox" v-bind:id="type" v-bind:value="type" v-model="checkedformes" checked>
                                <label class="form-check-label" :for="type">{{type}}</label>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">par source</h5>
                            <p class="card-text">
                              <div v-for="source in listesources">
                                <input class="form-check-input" type="checkbox" v-bind:id="source" v-bind:value="source" v-model="checkedsources" checked>
                                <label class="form-check-label" :for="source">{{source}}</label>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <!-- options -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-formRefs">
                    Options
                  </button>
                </h2>
                <div id="flush-formRefs" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <div class="row text-start">
                      <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" v-model="showGraph" id="showGraph" checked>
                              <label class="form-check-label" for="showGraph">
                                Afficher les graphes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" v-model="hidezero" id="hidezero" checked>
                              <label class="form-check-label" for="hidezero">
                                Cacher réferences "vides"
                              </label>
                            </div>
                            <!-- <div class="form-check">
                              <input class="form-check-input" type="checkbox" v-model="showsort" id="showsort" checked>
                              <label class="form-check-label" for="showsort">
                                Afficher nombres de formes par type
                              </label>
                            </div> -->
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" v-model="showsource" id="showsource" checked>
                              <label class="form-check-label" for="showsource">
                                Afficher les sources
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table id="main-table" class="table table-striped mt-2 table-bordered">
        <thead>
          <tr>
            <!--
            <th scope="col">ID <br>
              <div class="btn-group" >
                <button @click="sortIDAsc" class="btn btn-sm btn-secondary">&and;</button>
                <button @click="sortIDDesc" class="btn btn-sm btn-secondary">&or;</button>
              </div>
            </th>
            -->
            <th scope="col">
                Référence
            </th>
            <th scope="col">Formes</th>
            <th scope="col">Groupes</th>
            <th scope="col">Types</th>
            <th scope="col">Espèces</th>
            <!-- <th scope="col" v-if="showsort">Total
              <div class="btn-group">
                <button @click="sortTotalAsc" class="btn btn-sm btn-secondary">&and;</button>
                <button @click="sortTotalDesc" class="btn btn-sm btn-secondary">&or;</button>
              </div>
            </th>
            <th scope="col" v-if="showsort">Variations
              <div class="btn-group">
                <button @click="sortVarAsc" class="btn btn-sm btn-secondary">&and;</button>
                <button @click="sortVarDesc" class="btn btn-sm btn-secondary">&or;</button>
              </div>
            </th>
            <th scope="col" v-if="showsort">Traductions
              <div class="btn-group">
                <button @click="sortTradAsc" class="btn btn-sm btn-secondary">&and;</button>
                <button @click="sortTradDesc" class="btn btn-sm btn-secondary">&or;</button>
              </div>
            </th>
            <th scope="col" v-if="showsort">Synonymes
              <div class="btn-group">
                <button @click="sortSynAsc" class="btn btn-sm btn-secondary">&and;</button>
                <button @click="sortSynDesc" class="btn btn-sm btn-secondary">&or;</button>
              </div>
            </th> -->
            <th scope="col">Graph.</th>
          </tr>
          <tr style="background-color:lightgrey">
            <th>
              <input class="form-control form-control-sm" v-model="searchtext">
            </th>
            <th>
              <input class="form-control form-control-sm" v-model="formText">
            </th>
            <th>
              <input class="form-control form-control-sm" v-model="groupText">
            </th>
            <th>
              <input class="form-control form-control-sm" v-model="typeText">
            </th>
            <th>
              <input class="form-control form-control-sm" v-model="especeText">
            </th>
            <th>
                Afficher <input class="form-check-input" type="checkbox" v-model="showGraph" id="showGraph" checked/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr is="tableline" v-for="item in datalist" v-bind:item="item" v-bind:key="item['_xml:id']" v-bind:showgraph="showGraph" v-bind:showsort="showsort" v-bind:checkedlanguesform="checkedlanguesform" v-bind:variationsnum="item.variations" v-bind:showsource="showsource"
            v-on:updatetype="typeText = $event" v-bind:traductionsnum="item.traductions" v-bind:synonymsnum="item.synonyms" v-bind:totalvariantes="item.total"
            v-if="displayItem(item)">
          </tr>
        </tbody>
      </table>

      <div id="footer">
        <img src="./assets/img/logos/logo_elan.png"/>
        <img src="./assets/img/logos/logo_littarts.png"/>
        <img src="./assets/img/logos/logo_univ_grenoble_alpes.jpg"/>
        <img src="./assets/img/logos/logo_cnrs.png"/>
      </div>
    </div>
  </div>
  <script src="assets/js/lib/vue.js"></script>
  <script src="assets/js/script.js" type="module"></script>
  <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
  <script src="assets/js/lib/Chart.min.js"></script>
  <script src="assets/js/lib/vue-chartjs.min.js"></script>
</body>

</html>
