:root {
  --vert-clair: #519259;
  --vert-fonce: #064635;
  --orange: #F0BB62;
  --jaune: #F4EEA9;
}

[v-cloak] {
  display: none;
}

body {
  background-image: url("../img/arbre.png"), linear-gradient(45deg, var(--vert-clair) 0%, var(--vert-fonce) 35%) !important;
  background-color: var(--vert-fonce);
  background-position: 1% 101% !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#offcanvasFilters {
  border-left: 2px solid var(--orange);
  background-color: var(--vert-fonce);
  width: 50%;
}

#offcanvasFilters .accordion-item, #offcanvasFilters .accordion {
  background-color: var(--jaune);
}

h1.offcanvas-title {
  margin-bottom: 0px !important;
}

h2 .accordion-button {
  background-color: var(--orange) !important;
  color: black !important;
}

tr, td, th, tbody {
  border-color: var(--vert-clair) !important;
  border-width: 2px !important;
}

td.ref {
  text-align: center;
  vertical-align: middle;
}

span.ref {
  font-variant: small-caps;
}

#main-table {
  background-color: var(--jaune);
  margin-top: 20px !important;
}

.btns .btn {
  background-color: var(--vert-fonce);
  color: white;
  border-color: transparent;
}

.btns .btn:hover {
  color: black;
  background-color: var(--jaune);
  border-color: transparent;
}

/*
.variation {
  color: blue !important;
}

.translation {
  color: red !important;
}

.synonym {
  color: green !important;
} */
.item-form:before, .subcell:before {
  content: '-';
  color: black;
}

.subcell {
  text-align: left;
  margin-bottom: 20px !important;
}

.item-forms {
  text-align: left;
}

.item-form {
  margin-bottom: 5px;
}

#chart {
  height: 120px;
}

h1 {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  margin-bottom: 20px !important;
}

.list-group-item {
  border: none !important;
  background-color: inherit !important;
  border-radius: 0px !important;
  border-bottom: 1px solid black !important;
}

td {
  vertical-align: middle;
}

#footer {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--jaune);
  text-align: center;
  border-color: var(--vert-clair) !important;
  border-width: 2px !important;
}

#footer img {
  max-height: 60px;
  margin-right: 20px;
}
